<!-- Skills -->
<div class="flex flex-row mt-5 gap-10 lg:justify-center items-center
     justify-center">
    @for (x of [
        {image: '../assets/Icons/communication.webp', title: 'communication'},
        {image: '../assets/Icons/creativity.webp', title: 'creativity'},
        {image: '../assets/Icons/adaptation.webp', title: 'adaptability'},
        {image: '../assets/Icons/organization.webp', title: 'organization'},
        {image: '../assets/Icons/learning.webp', title: 'learning \n development'},
    ];
    track $index) {
        <div class="flex flex-col md:w-[175px] md:h-[240px] w-[125px] h-[190px] justify-stretch items-center">
            <img 
                fetchpriority="slow"
                [src]="x.image"
                loading="lazy"
                alt="An image representing the professional skill">
            <h3 class="uppercase my-auto md:text-xl text-center">{{ x.title }}</h3>
        </div>
    }
</div>